<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <form class="" action="/signup" method="post">
      Add form validations for:
      Username: Required. Must be more than 6 characters, must start with a letter, and no punctuation.
      Password: Required. Must be more than 8 characters with atleast One letter, one number, and one special character (!?/.,')
      Email: Required. Must be formatted like an email, (something @ something . something)
      First Name: Required.
      Last Name: Required.
      Phone Number: Required. Must be a 10 digit number formatted like: 999-888-9898
      
    </form>
  </body>
</html>
